package main

import (
	"%%PACKAGE_NAME%%/mks_modules"
	"%%PACKAGE_NAME%%/src/utils"
	"fmt"
	"sync"
)

func main() {
	err := utils.LoadConfig() // Getting the ENV Values
	if err != nil {
		fmt.Println("[-] Fatal Error!\nCannot load config file:", err)
		return
	}

	// Creating waitgroup
	mks_modules.WaitGroup = new(sync.WaitGroup)

	mks_modules.WaitGroup.Wait()
}